{
	"plugins": [
		"react-hot-loader/babel",
		"syntax-dynamic-import",
		"transform-decorators-legacy",
		"transform-class-properties",
		"transform-runtime"
	],
	"presets": [
		"react",
		[
			"env", 
			{
				"targets": {
					"browsers": [">0.5%"]
				}
			}
		]
	]
}
